<ion-header>
  <ion-toolbar color="primary">
    <ion-bottons slot="start">
      <ion-menu-botton menu= "menuPrincipal"></ion-menu-botton>
    </ion-bottons>
    <ion-title>Reservaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">

  <div *nglf="!isLoading">
    <ion-spinner color= 'primary'></ion-spinner>
  </div>
  <div *nglf = "!isLoading && reservaciones.length <= 0" class="ion-text-center">
    <h3> No hay reservaciones</h3>
  </div>

  <ion-grid *nglf = "!isLoading">
    <ion-row>
      <ion-col>
        <ion-list>
         <ion-item-sliding *ngFor= "let r of reservaciones" #slindingRsv>
          <ion-item [routerLink]="['/', 'reservaciones', 'r.id']">
          <ion-avatar slot="start">
            <ion-img [src]="r.imgUrl"></ion-img>
          </ion-avatar>
          <ion-lebel>
            <h2> {{r.restaurante}} </h2>
            <p> {{r.horario}} </p>
          </ion-lebel>
         </ion-item>

           </ion-item>
           <ion-item-options>
            <ion-item-option color="danger" (click)= "onRemoveReservacion(r.id, slidingRsv)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
           </ion-item-options>

          </ion-item-sliding>
        </ion-list>
        
  
      </ion-col>
  
    </ion-row>
  </ion-grid>
</ion-content>
