<ion-header>
  <ion-toolbar color="primary">
    <ion-bottons slot="start">
      <ion-menu-botton menu= "menuPrincipal"></ion-menu-botton>
    </ion-bottons>
    <ion-title>Reservaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" ofset-sm="2">
        <ion-list>
          <ion-avatar slot="start">
            <ion-ing src="https://static.wixstatic.com/media/5e5c92_affdd3dd508a433c84fbf419644e3680.png/v1/fill/w_291,h_226,al_c,q_85,usm_0.66_1.00_0.01/5e5c92_affdd3dd508a433c84fbf419644e3680.webp"></ion-ing>
          </ion-avatar>
          <ion-lebel>
            <h2>Cabo Gril</h2>
            <p>Lunes 06 de Septoembre - 9:00 pm</p>
          </ion-lebel>
          <ion-item-sliding>

           <ion-item></ion-item>
           <ion-item-options>
            <ion-item-option color="danger">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
           </ion-item-options>

          </ion-item-sliding>
        </ion-list>
        
  
      </ion-col>
  
    </ion-row>
  </ion-grid>
</ion-content>
