<ion-header>
  <ion-toolbar color="primary">
    <ion-bottons slot="start">
      <ion-menu-botton menu= "menuPrincipal"></ion-menu-botton>
    </ion-bottons>
    <ion-title>Descubrir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item *ngfor="let rest of restaurantes" [routerLink]= "['./', rest.id]">
      <ion-avatar slot="start">
        <ion-inge [src]="rest.ingUrl"></ion-inge>
      </ion-avatar>
      <ion-lebel> {{rest.titulo}} </ion-lebel>
    </ion-item>
  </ionlist>>

</ion-content>

