<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>>

<ion-content>
 <ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="8" ofset-sm="2">
  
      <ion-card *ngfor= "let o of Ofertas">
        <ion-card-header>
          <ion-card-title {{o.titulo}}></ion-card-title>
          <ion-card-subtitle {{o.subtitulo}}></ion-card-subtitle>

        </ion-card-header>
 <ion-ing [src]="o.imagen"></ion-ing>
        
        >
          <ion-card-content>
            <p {{o.vigencia}}></p>
          </ion-card-content>
      </ion-card>

    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
