<ion-header>
  <ion-toolbar >
    <ion-title> {{isLoginMode ? 'Login': 'Restro'}}  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #myForm="ngForm" (ngSubmit)= "onSubmit(myForm)">
   <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label position= "floating">Correo</ion-label>
            <ion-imput 
            type= "email"
            ngModel
            name="email"
            required
            email
            #emailCtrl="ngModel">
          </ion-imput>
        </ion-item>
       
        <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
          <ion-label>
            Ingresar un correo valido
          </ion-label>
        </ion-item>

          <ion-item>
            <ion-label position= "floating">Contraseña</ion-label>
            <ion-imput 
            type= "password"
            ngModel
            name="pass"
            required
            minlegth="6"
            #passCrtl="ngModel">
          </ion-imput>
          </ion-item>

          <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
            <ion-label>
              Ingresar un password valido
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-cebter">
        
      <ion-button
       expand="block" 
       color="primary"
        *ngIf="!isLoading"
       (click)="onLogin()"
       [disable]="!myForm.valid">
       {{isLoginMode ? 'Login': 'Guardar'}}
       </ion-button>
       <ion-spinner *ngIf="isLoading"></ion-spinner>
      <ion-button 
      expand="block" 
      fill="clear"
      (click)="onSwitchAuthMode()">
      {{isLoginMode ? 'Ir a Login': 'Restro'}}
      </ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>


  </form>


 

  

</ion-content>
