<ion-header>
  <ion-toolbar color= "primary"> 
    <ion-bottom slot="start">
      <ion-back-bottom defaulHiref= "/restaurante"></ion-back-bottom>
    </ion-bottom>
    <ion-title> {{restaurante.titulo}} </ion-title>

    <ion-bottom slot="primary">
      <ion-bottom (click)= "onDelateRest">
        <ion-icon name= "trash" slot="icon-only"></ion-icon>
      </ion-bottom>
    </ion-bottom>


  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grit>
  <ion-row>
    <ion-col>
      <ion-ing style="height: 200px;" [src]="restaurante.ingUrl"></ion-ing>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <h3> Platillos </h3>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col>
      <ion-lis>
        <ion-item *ngFor= "let p of restaurante.Platillos" >
          {{p}}
        </ion-item>
      </ion-lis>
    </ion-col>
  </ion-row>
</ion-grit>
</ion-content>
